.listCard {
  transition: all 130ms cubic-bezier(0.45, 0, 0, 1);
  cursor: pointer;

  &:hover {
    transition-timing-function: cubic-bezier(0.45, 0, 0.40, 1);
    background-color: var(--mantine-color-default-hover);
  }
}
